@font-face {
    font-family: "Raleway";
    src: url("./raleway/Raleway-Medium.ttf");
}

* {
    font-family: "Raleway", "sans-serif";
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    z-index: 0;
}

body::after {
    background-image: url(./images/home-background.png)!important;
    background-position-x: center;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: -1;
    height: 100%;
    opacity: 0.5;
}

nav.navbar {
    background-color: #fd6756 !important;
}

.navbar-brand > img {
    max-height: 30px;
    vertical-align: text-top;
}

#search-result {
    display: none;
}

#search-box {
    max-width: 720px;
}

div#search-box > form {
    transition: all 1s ease;
}

div#search-box input {
    height: 80px;
    font-size: 24px;
}

div#search-box::before {
    margin-top: 50%;
    display: block;
    content: "";
}

@media (min-width: 769px) {
    div#search-box::before {
        margin-top: 276px;
    }
}

#search-result {
    background-color: white;
    width: calc(100% - 20px);
    min-height: 20px;
    padding: 20px 10px;
    margin-top: -13px;
    border-radius: 0 0 20px 20px;
}

#search-result > div {
    display: none;
    padding-left: 5px;
    padding-right: 5px;
}

.searchString {
    font-weight: bold;
}

.result {
    display:block;
    padding: 8px 8px;
    border-radius: 10px;
    text-decoration:none!important;
    color: black!important;
}

.result:hover {
    background: #FAFAFA;
}

.result > h3 {
    display: inline;
}

.profile-image {
    width: 20px;
    height: 20px;
    background: gray;
    border-radius: 100%;
    display: inline-block;
    vertical-align: sub;
    margin-right: 5px;
    padding: 4px;
}

.about {
    margin-top: 7%;
    margin-right: 15%;
    margin-left: 15%;
    text-align: justify;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
}

p.desc {
    margin-top: 3%;
    font-size: larger;
}

p.sub{
    margin-top: 3%;
    font-size: x-large;
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: auto;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon::after {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-left: -5px;
    background-image: url("./images/tick.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.cross::after {
     background-image: url("./images/cross.png");
}

.wheelchair {
    background-image: url("./images/wheelchair.png");
}

.hearing-room {
    background-image: url("./images/hearing-room.png");
}

.disabled-parking {
    background-image: url("./images/disabled-parking.png");
}

.fridge {
    background-image: url("./images/fridge.png");
}

.shuttle {
    background-image: url("./images/shuttle.png");
}