{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="../static/basic.css">

    <div style="line-height: 2;" class="about">
        <h1>Chi siamo</h1>
        <img src="../static/images/logo_c.png" href="#" class="center">
        <p class="sub">MobiMe ti fa sentire a casa, ovunque tu sia!</p>
        <p class="desc">Il nostro servizio nasce con l'idea di fornire un unico portale tramite il quale reperire dettagli indispensabili per la mobilità di utenti con specifiche esigenze di accessibilità al posto o di servizi in loco.</p>
        <p class="desc">La piattaforma fornisce inoltre la possibilità di mettersi in contatto con persone con esigenze analoghe alle proprie e di accedere a un sistema dinamico di feedback costantemente aggiornato. L'utente può recuperare informazioni circa hotel, supermercarti, aeroporti, luoghi pubblici e non solo, oltre a fornirne a sua volta per i prossimi utilizzatori. </p>

    </div>

{% endblock %}