{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="../static/basic.css">

    <div style="line-height: 2;" class="about">
        <h1>Chi siamo</h1>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis nibh luctus, dignissim eros sit amet, efficitur urna. Nam eu pharetra ante. Mauris auctor, lectus sit amet condimentum tempor, diam ligula vulputate enim, vel porttitor odio leo vel erat. Sed dignissim elit tellus, sit amet imperdiet est faucibus nec. Duis eleifend, diam et bibendum dignissim, lacus urna fermentum metus, ac tincidunt arcu velit a orci. Proin ultricies, sapien id pulvinar tempus, velit magna vestibulum massa, eu euismod lorem ex non ligula. Nunc et augue vel lorem molestie sagittis eu sit amet lorem. Maecenas blandit sem sit amet luctus imperdiet. Curabitur ut massa neque. Fusce odio ante, egestas at lacus et, hendrerit congue arcu. Nullam venenatis purus eget ligula hendrerit, in pulvinar nunc egestas. </p>

    </div>

{% endblock %}