<!DOCTYPE html>
<html>

<head>
    <title>MobiMe</title>

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./static/basic.css">
</head>

<body>

{% include "header.html" %}

{% block content %}
{% endblock %}


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" async></script>
</body>
</html>