<nav style="background-color: #00daff !important;" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="./static/images/black-logo.png"></a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">Chi siamo</a>
      </li>


    </ul>

<ul class="navbar-nav">
    {% if authenticated is not defined or authenticated == false %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Register</a>
      </li>
    </ul>
    {% else %}
      <li class="nav-item">
          <a class="nav-link" href="./profile">
              <div class="nav-profile">
                  <img class="profile-image" src="./static/images/profile.png" alt="profile image">
                  <span class="username">{{username}}</span>
              </div>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    {% endif %}

  </div>
</nav>