{% extends "base.html" %}
{% block content %}
<div id="search-box" class="container">
    <form autocomplete="off">
        <div class="form-group">
            <input type="text" class="form-control" id="search" placeholder="Cerca: Firenze, Cinema, Tram, Ponte Vecchio">
        </div>
    </form>

    <div id="search-result" class="container">
        <div id="cinema" class="container">
            <a href="#" class="result row">Ricerca avanzata: <span class="searchString"></span></a>
            <a href="#" class="result row">
                <h3 class="col-auto">The Space Cinema</h3>
                <span class="col distance">2km</span>
                <span class="col icon wheelchair"></span>
                <span class="col icon disabled-parking cross"></span>
            </a>
            <a href="#" class="result row">
                <h3 class="col-auto">Cinema Odeon</h3>
                <span class="col distance">1,3km</span>
                <span class="col icon wheelchair cross"></span>
                <span class="col icon disabled-parking"></span>
            </a>
            <a href="#" class="result row">
                <h3 class="col-auto">UCI Cinema</h3>
                <span class="col distance">5,2km</span>
                <span class="col icon hearing-room"></span>
                <span class="col icon disabled-parking cross"></span>
                <span class="col icon wheelchair"></span>
            </a>
        </div>
        <div id="hotel" class="container">
            <a href="ricercaHotel" class="result row">Ricerca avanzata: <span class="searchString"></span></a>
            <a href="#" class="result row">
                <h3 class="col-auto">Idea Hotel Firenze</h3>
                <span class="col distance">800m</span>
                <span class="col icon fridge"></span>
                <span class="col icon wheelchair cross"></span>
            </a>
            <a href="HotelDaVinci" class="result row">
                <h3 class="col-auto">Hotel Da Vinci Firenze</h3>
                <span class="col distance">3km</span>
                <span class="col icon fridge cross"></span>
                <span class="col icon disabled-parking"></span>
                <span class="col icon wheelchair"></span>
            </a>
            <a href="#" class="result row">
                <h3 class="col-auto">Continental Hotel</h3>
                <span class="col distance">8km</span>
                <span class="col icon shuttle"></span>
            </a>
        </div>
    </div>
</div>
{% endblock %}